@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";
@import "compass/typography/lists/horizontal-list";

/* COLORS */
$red: #70261c;

/* DEFAULT */

header, .content {
	width: 1000px;
	margin: 0 auto;
}

article {
	width: 1000px;
	margin-bottom: 100px;

	.content {
		width: 900px;
		padding: 35px 50px;
	}
}

/* HEADER */

header {
	height: 667px;
	background-image: url('background-header.jpg');
	position: relative;

	h1 {
		padding-top: 270px;
		@include replace-text-with-dimensions('logo.png', 50%, 50%, true);
	}

	nav {
		width: 1000px;
		padding: 20px 0px;
		float: left;
		background-color: $red;
		position: absolute;
		top: 520px;

		ul {
			width: 100%;
			margin: 5px 0px 0px 35px;

			li {
				display: inline-block;

				a {
					color: white;
					font-size: 1.6em;
					font-weight: 300;
					text-decoration: none;
					padding: 0px 50px 10px 10px;
				}

				a:hover, a.active {
				}
			}
		}
	}

	.navfixed {
		position: fixed;
		top: 0px;
		z-index: 100;
	}

	.gradient {
		width: 1000px;
		height: 10px;
		position: absolute;
		top: 591px;
		@include opacity(0.5);
		@include background-image(linear-gradient(#838383, #f9f9f9));
	}

	.gradient-fixed {
		position: fixed;
		top: 71px;
		z-index: 100;
	}
}

/* MAIN */

.gradient-wood {
	width: 50px;
	height: 1000px;
	position: absolute;
	top: -667px;
	z-index: 100;
}

.gradient-left {
	left: -50px;
	@include background-image(linear-gradient(to left, #cac9c9, #e6e5e4, #fff));
}

.gradient-right {
	right: -51px;
	@include background-image(linear-gradient(to right, #cac9c9, #e6e5e4, #fff));
}

section#main {
	width: 1000px;
	height: 1500px;
	background-image: url('background-wood.png');
	position: relative;


/* SLIDER */

	#sliders {
	  height: 500px;
	  position: relative;

	  .slider_balls {
	    position: absolute;
	    float: right;
	    bottom: 30px;
	    right: 20px;
	    z-index: 50;

	    ul {
	      @include horizontal-list(5px);

	      a {
	        display: block;
	        width: 20px;
	        height: 20px;
	        background-color: grey;
	        @include border-radius(10px, 10px);
	        z-index: 50;
	      }

	      .ball.active a, a:hover {
	        background-color: $red;
	      }
	    }
	  }

	  .slider {
	    height: 500px;
	    position: relative;
	    overflow: hidden;

	    img {
	      height: 600px;
	      width: 1000px;
	      top: 0px;
	      left: 0px;
	      position: absolute;
	      display: none;

	      &:first-child {
	        display: block;
	      }
	    }
	  }
	}

/* PROMOTION */

	#promotion {
		height: 200px;
		background-color: $red;

		h2 {
			color: white;
			font-size: 3em;
			margin-bottom: 20px;
		}

		p {
			color: white;
			font-size: 1.5em;
		}
	}

/* PRESENTATION */

	#presentation {
		height: 313px;

		h2 {
			font-size: 3em;
			color: $red;
			margin-bottom: 20px;
		}

		.col-6 {
			height: 200px;
			float: left;
		}

		.left {
			width: 50%;

			.col-content {
				margin-left: 50px;
				padding-right: 15px;

				p {
					font-size: 1.5em;
					margin-bottom: 20px;
				}
			}
		}

		.right {
			width: 40%;

			.col-content {
				margin-left: 80px;
				padding-left: 15px;
			}
		}
	}

/* PRESTATIONS */

	#prestations {
		h2 {
			font-size: 3em;
			color: $red;
			margin-bottom: 20px;
		}
	}
}
