<!DOCTYPE html>
<html>
<head>
  <title>Infinity Institut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 id="logo">Infinity Institut</h1>
    <nav id="sticky-nav">
      <ul>
        <li><a href="infinity" class="active">Infinity institut</a></li>
        <li><a href="prestations">Prestations</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <div class="gradient"></div>
  </header>
  <div class="content">
		<%= yield %>
	</div>
</body>
</html>
