<!DOCTYPE html>
<html>
<head>
  <title>Infinity Institut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 id="logo">Infinity Institut</h1>
    <nav id="sticky-nav">
      <ul>
        <li><a href="infinity" class="active">Infinity institut</a></li>
        <li><a href="prestations">Prestations</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <div class="gradient"></div>
  </header>
  <div class="content">
		<%= yield %>
	</div>
  <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(46.582107, 6.607316),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>
</html>
